<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Bookmark #<%= @bookmark.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bookmarks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_bookmark/<%= @bookmark.id %>" class="btn btn-block btn-outline-secondary">
          Delete bookmark
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @bookmark.user_id %>
      </dd>

      <dt>
        Movie
      </dt>
      <dd>
        <%= @bookmark.movie_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@bookmark.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@bookmark.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit bookmark
    </h2>

    <form action="/modify_bookmark/<%= @bookmark.id %>"  method="post" >
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control" value="<%= @bookmark.user_id %>">
      </div>

      <div class="form-group">
        <label for="movie_id_box">
          Movie
        </label>

        <input type="text" id="movie_id_box" name="movie_id_from_query" class="form-control" value="<%= @bookmark.movie_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update bookmark
      </button>
    </form>
  </div>
</div>

<hr>
