<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Short movies
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Title
        </th>

        <th>
          Year
        </th>

        <th>
          Director
        </th>

        <th>
        </th>
      </tr>

      <% @movies.each do |movie| %>
      <tr>
        <td>
          <img src="<%= movie.image %>" width="100">
        </td>

        <td>
          <%= movie.title %>
        </td>

        <td>
          <%= movie.year %>
        </td>

        <td>
          <a href="/directors/<%= movie.director_id %>">
            <%= movie.director.name %>
          </a>
        </td>

        <td>
          <a href="/movies/<%= movie.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
